#  Converting SAS Data into SQLite and Use SQL Queries
================================================================================

In [4]:
import pandas as pd
import pyreadstat
import sqlite3

In [31]:
%%time
df2, meta = pyreadstat.read_sas7bdat('../Data/modpop_1to1_201910.sas7bdat', row_limit= 50000, encoding='latin1')

CPU times: user 1.07 s, sys: 53.6 ms, total: 1.12 s
Wall time: 1.12 s

In [32]:
meta.number_rows

50000

In [33]:
meta.column_names

['ACTG_PER',
 'COMPLETION_DTE',
 'DARTS_CASE_ID',
 'DLQ_BF_CONVERSION',
 'DLQ_BF_TRIAL',
 'DLQ_RESET_DTE',
 'DLQ_VALID_DTE',
 'FNMA_LN',
 'INT_FORGIVEN',
 'LIQD_DTE',
 'MOD_CURR_DTE',
 'MOD_START_DTE',
 'MOD_TYPE',
 'PCT_PAY_CHG',
 'POST_MOD_PMT',
 'POST_MOD_PRDCT',
 'POST_MOD_RATE',
 'POST_MOD_REMTRM',
 'POST_MOD_UPB',
 'PRE_MOD_PMT',
 'PRE_MOD_PRDCT',
 'PRE_MOD_RATE',
 'PRE_MOD_REMTRM',
 'PRE_MOD_UPB',
 'TOT_MTHY_HHLD_GRS_INCM_AMT',
 'TRIAL_END_DTE',
 'TRIAL_OUTCOME',
 'TRL_FST_PMT_DTE',
 'UPB_FORBORN',
 'UPB_FORGIVEN',
 'STEP_RATE_01',
 'STEP_DATE_01',
 'STEP_RATE_02',
 'STEP_DATE_02',
 'STEP_RATE_03',
 'STEP_DATE_03',
 'STEP_RATE_04',
 'STEP_DATE_04',
 'STEP_RATE_05',
 'STEP_DATE_05',
 'STEP_RATE_06',
 'STEP_DATE_06',
 'STEP_RATE_07',
 'STEP_DATE_07',
 'STEP_RATE_08',
 'STEP_DATE_08',
 'STEP_RATE_09',
 'STEP_DATE_09',
 'STEP_RATE_10',
 'STEP_DATE_10',
 'DARTS_CPGN_ID']

https://ofajardo.github.io/pyreadstat_documentation/_build/html/index.html

In [34]:
df2.head()

,ACTG_PER,COMPLETION_DTE,DARTS_CASE_ID,DLQ_BF_CONVERSION,DLQ_BF_TRIAL,DLQ_RESET_DTE,DLQ_VALID_DTE,FNMA_LN,INT_FORGIVEN,LIQD_DTE,...,STEP_DATE_06,STEP_RATE_07,STEP_DATE_07,STEP_RATE_08,STEP_DATE_08,STEP_RATE_09,STEP_DATE_09,STEP_RATE_10,STEP_DATE_10,DARTS_CPGN_ID
0,201910.0,2001-02-01,5.020100e+09,5.0,NaN,2001-02-01,2001-02-01,1010059174,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,201910.0,2004-04-01,1.020402e+09,7.0,NaN,2004-04-01,2004-04-01,1010059435,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,201910.0,1999-12-01,5.029904e+09,9.0,NaN,2000-01-01,2000-02-01,1010068307,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,201910.0,1998-04-01,5.029801e+09,2.0,NaN,1998-04-01,1998-06-01,1010068943,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,201910.0,2005-02-01,4.020502e+09,19.0,NaN,2005-02-01,2005-02-01,1010072748,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [35]:
print("Number of rows: ", meta.number_rows, '\t', "Number of colums: ", meta.number_columns, '\t', "Encoding: ", meta.file_encoding )
#print(df2.dtypes)
for x,y in zip(meta.column_names, meta.column_labels):
    print(x,"\t\t\t ",y)

Number of rows:  50000 	 Number of colums:  51 	 Encoding:  latin1
ACTG_PER 			  Accounting Period
COMPLETION_DTE 			  Date When a Trial Completes
DARTS_CASE_ID 			  Unique ID Assigned to Each Workout
DLQ_BF_CONVERSION 			  DELQ of a Loan before MOD_CURR_DTE
DLQ_BF_TRIAL 			  DELQ of a Loan before Trial Period
DLQ_RESET_DTE 			  Date When SIR Resets the Delinquency
DLQ_VALID_DTE 			  Date Starting When DLQ Is Valid
FNMA_LN 			  Fannie Mae Loan ID
INT_FORGIVEN 			  Interest Forgiven as Part of Workout
LIQD_DTE 			  Loan Liquidation Date
MOD_CURR_DTE 			  Date When a Modified Loan Becomes Current
MOD_START_DTE 			  Date When a Trial MOD Starts
MOD_TYPE 			  Type of Modification
PCT_PAY_CHG 			  Pctg of Payment Change Before/After MOD
POST_MOD_PMT 			  Scheduled Monthly Payment After MOD
POST_MOD_PRDCT 			  Product Code After Workout
POST_MOD_RATE 			  Note Rate After Workout
POST_MOD_REMTRM 			  Scheduled Remaining Term After MOD
POST_MOD_UPB 			  Total UPB after MOD, including FB AMT
PRE_MOD_PMT 			  Scheduled Monthly Payment Before MOD
PRE_MOD_PRDCT 			  Product Code Before Workout
PRE_MOD_RATE 			  Note Rate Before Workout
PRE_MOD_REMTRM 			  Scheduled Remaining term before MOD
PRE_MOD_UPB 			  UPB Before Modification
TOT_MTHY_HHLD_GRS_INCM_AMT 			  Total Monthly Household Gross Income
TRIAL_END_DTE 			  Date When a MOD Trial Period Ends
TRIAL_OUTCOME 			  Trial Outcome
TRL_FST_PMT_DTE 			  First Payment Due Date in Trial Period
UPB_FORBORN 			  Forbearance Amount as Part of Workout
UPB_FORGIVEN 			  UPB Forgiven as Part of Workout
STEP_RATE_01 			  None
STEP_DATE_01 			  None
STEP_RATE_02 			  None
STEP_DATE_02 			  None
STEP_RATE_03 			  None
STEP_DATE_03 			  None
STEP_RATE_04 			  None
STEP_DATE_04 			  None
STEP_RATE_05 			  None
STEP_DATE_05 			  None
STEP_RATE_06 			  None
STEP_DATE_06 			  None
STEP_RATE_07 			  None
STEP_DATE_07 			  None
STEP_RATE_08 			  None
STEP_DATE_08 			  None
STEP_RATE_09 			  None
STEP_DATE_09 			  None
STEP_RATE_10 			  None
STEP_DATE_10 			  None
DARTS_CPGN_ID 			  Campaign ID for the loan modification program, see program name in variable MOD_TYPE

In [36]:
%%time
conn = sqlite3.connect('modpop.sqlite3')

df2.to_sql('modpop', conn, if_exists='replace', index=False)

CPU times: user 3.68 s, sys: 74.3 ms, total: 3.75 s
Wall time: 3.86 s

In [37]:
df_sum = pd.read_sql("select MOD_Type, count(*) as total from modpop group by MOD_type", conn)

In [38]:
df_sum

    MOD_TYPE  total
0        ALT    133
1    ALT2011     57
2     ALT3.0    709
3      CAPEX    662
4     CAPEXD     37
5    EXTENDD    132
6    FLEXMOD    937
7   FLEXMODD      5
8    FNMAMOD   1380
9       HAMP   1195
10       HSA    425
11       HSF    100
12       LTF   2225
13     MOD24     37
14    OTH_NT     51
15    OTH_TR     89
16       RPP   8675
17      SMP2   1643
18       STD  31508

In [21]:
pip install ipython-sql --user

Looking in indexes: https://nexusrepository.fanniemae.com/nexus/repository/pypi-all/simple
Collecting ipython-sql
  Downloading https://nexusrepository.fanniemae.com/nexus/repository/pypi-all/packages/ab/df/427e7cf05ffc67e78672ad57dce2436c1e825129033effe6fcaf804d0c60/ipython_sql-0.3.9-py2.py3-none-any.whl
Requirement already satisfied: ipython>=1.0 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython-sql) (7.6.1)
Requirement already satisfied: sqlparse in /opt/app-root/src/.local/lib/python3.7/site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/app-root/conda/lib/python3.7/site-packages (from ipython-sql) (1.12.0)
Collecting prettytable (from ipython-sql)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython-sql) (1.3.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: backcall in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.0.9)
Requirement already satisfied: pygments in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: jedi>=0.10 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.13.3)
Requirement already satisfied: traitlets>=4.2 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: setuptools>=18.5 in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (41.0.1)
Requirement already satisfied: decorator in /opt/app-root/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/app-root/conda/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /opt/app-root/conda/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in /opt/app-root/conda/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.0)
Installing collected packages: prettytable, ipython-sql
Successfully installed ipython-sql-0.3.9 prettytable-0.7.2
Note: you may need to restart the kernel to use updated packages.

In [39]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
%sql sqlite:///./modpop.sqlite3

'Connected: @./modpop.sqlite3'

In [41]:
%%sql
select MOD_Type, count(*) from modpop group by MOD_type;

 * sqlite:///./modpop.sqlite3
Done.

[('ALT', 133),
 ('ALT2011', 57),
 ('ALT3.0', 709),
 ('CAPEX', 662),
 ('CAPEXD', 37),
 ('EXTENDD', 132),
 ('FLEXMOD', 937),
 ('FLEXMODD', 5),
 ('FNMAMOD', 1380),
 ('HAMP', 1195),
 ('HSA', 425),
 ('HSF', 100),
 ('LTF', 2225),
 ('MOD24', 37),
 ('OTH_NT', 51),
 ('OTH_TR', 89),
 ('RPP', 8675),
 ('SMP2', 1643),
 ('STD', 31508)]

In [43]:
%%sql
-- drop table mod_summary;
create table mod_summary as 
select MOD_Type, count(*) from modpop group by MOD_type;

select * from mod_summary where mod_type like 'ALT%';

 * sqlite:///./modpop.sqlite3
(sqlite3.OperationalError) table mod_summary already exists
[SQL: -- drop table mod_summary;
create table mod_summary as
select MOD_Type, count(*) from modpop group by MOD_type;]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Lets have a quick look at command prompt
1. Login to SQLite
2. Run .help
3. Run .tables, .schema, .databases
4. Describe table with `pragma table_info('tablename');` . Set .header on and .mode column
5. Export data to CSV using .mode csv and .output myfile.csv