#  Storing Data into SQLite and Use SQL Queries
================================================================================

In [1]:
import pandas as pd
import sqlite3

In [2]:
%%time
df=pd.read_csv('/Users/adamrob/data/iris/Iris.csv')

CPU times: user 3.52 ms, sys: 1.66 ms, total: 5.19 ms
Wall time: 5.46 ms

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
%%time
conn = sqlite3.connect('iris.sqlite3')

df.to_sql('flowers', conn, if_exists='replace', index=False)

CPU times: user 4.05 ms, sys: 3.41 ms, total: 7.46 ms
Wall time: 5.97 ms

In [7]:
df_sum = pd.read_sql("select Species, count(*) as total from flowers group by Species", conn)

In [8]:
df_sum

           Species  total
0      Iris-setosa     50
1  Iris-versicolor     50
2   Iris-virginica     50

pip install ipython-sql

In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql sqlite:///./iris.sqlite3

In [15]:
%%sql
select Species, count(*) as total from flowers group by Species;

 * sqlite:///./iris.sqlite3
Done.

[('Iris-setosa', 50), ('Iris-versicolor', 50), ('Iris-virginica', 50)]

In [22]:
%%sql
-- drop table species;
-- create table species as 
-- select species, count(*) from flowers group by species;

select * from flowers where species like '%seto%';

 * sqlite:///./iris.sqlite3
Done.

[(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (2, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa'),
 (3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5, 5.0, 3.6, 1.4, 0.2, 'Iris-setosa'),
 (6, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa'),
 (7, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa'),
 (8, 5.0, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (9, 4.4, 2.9, 1.4, 0.2, 'Iris-setosa'),
 (10, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (11, 5.4, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (12, 4.8, 3.4, 1.6, 0.2, 'Iris-setosa'),
 (13, 4.8, 3.0, 1.4, 0.1, 'Iris-setosa'),
 (14, 4.3, 3.0, 1.1, 0.1, 'Iris-setosa'),
 (15, 5.8, 4.0, 1.2, 0.2, 'Iris-setosa'),
 (16, 5.7, 4.4, 1.5, 0.4, 'Iris-setosa'),
 (17, 5.4, 3.9, 1.3, 0.4, 'Iris-setosa'),
 (18, 5.1, 3.5, 1.4, 0.3, 'Iris-setosa'),
 (19, 5.7, 3.8, 1.7, 0.3, 'Iris-setosa'),
 (20, 5.1, 3.8, 1.5, 0.3, 'Iris-setosa'),
 (21, 5.4, 3.4, 1.7, 0.2, 'Iris-setosa'),
 (22, 5.1, 3.7, 1.5, 0.4, 'Iris-setosa'),
 (23, 4.6, 3.6, 1.0, 0.2, 'Iris-setosa'),
 (24, 5.1, 3.3, 1.7, 0.5, 'Iris-setosa'),
 (25, 4.8, 3.4, 1.9, 0.2, 'Iris-setosa'),
 (26, 5.0, 3.0, 1.6, 0.2, 'Iris-setosa'),
 (27, 5.0, 3.4, 1.6, 0.4, 'Iris-setosa'),
 (28, 5.2, 3.5, 1.5, 0.2, 'Iris-setosa'),
 (29, 5.2, 3.4, 1.4, 0.2, 'Iris-setosa'),
 (30, 4.7, 3.2, 1.6, 0.2, 'Iris-setosa'),
 (31, 4.8, 3.1, 1.6, 0.2, 'Iris-setosa'),
 (32, 5.4, 3.4, 1.5, 0.4, 'Iris-setosa'),
 (33, 5.2, 4.1, 1.5, 0.1, 'Iris-setosa'),
 (34, 5.5, 4.2, 1.4, 0.2, 'Iris-setosa'),
 (35, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (36, 5.0, 3.2, 1.2, 0.2, 'Iris-setosa'),
 (37, 5.5, 3.5, 1.3, 0.2, 'Iris-setosa'),
 (38, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (39, 4.4, 3.0, 1.3, 0.2, 'Iris-setosa'),
 (40, 5.1, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (41, 5.0, 3.5, 1.3, 0.3, 'Iris-setosa'),
 (42, 4.5, 2.3, 1.3, 0.3, 'Iris-setosa'),
 (43, 4.4, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (44, 5.0, 3.5, 1.6, 0.6, 'Iris-setosa'),
 (45, 5.1, 3.8, 1.9, 0.4, 'Iris-setosa'),
 (46, 4.8, 3.0, 1.4, 0.3, 'Iris-setosa'),
 (47, 5.1, 3.8, 1.6, 0.2, 'Iris-setosa'),
 (48, 4.6, 3.2, 1.4, 0.2, 'Iris-setosa'),
 (49, 5.3, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (50, 5.0, 3.3, 1.4, 0.2, 'Iris-setosa')]

## Lets have a quick look at command prompt
1. Login to SQLite
2. Run .help
3. Run .tables, .schema, .databases
4. Describe table with `pragma table_info('tablename');` . Set .header on and .mode column
5. Export data to CSV using .mode csv and .output myfile.csv