# Inspecting Your Data

# Outline
- .head() and .tail()
- .columns
- .shape
- .info()

In [4]:
import pandas as pd

In [5]:
social = pd.read_csv('social.csv')

## .head() and .tail()

In [6]:
social.head()

,respid,sex,eminuse,intmob,intfreq,home4nw,bbhome1,bbhome2,device1a,smart2,...,hisp,racem1,racem2,racem3,racem4,racecmb,birth_hisp,inc,party,partyln
0,1,2,1,1,1,1,2,,1,1,...,2,1,,,,1,,6,2,
1,2,2,2,2,,,,,1,2,...,2,1,,,,1,,4,3,8
2,3,2,1,2,3,1,2,,1,1,...,2,1,,,,1,,4,1,
3,4,2,1,1,4,1,2,,1,1,...,2,1,,,,1,,2,2,
4,4,2,1,1,4,1,2,,1,1,...,2,1,,,,1,,2,2,

## .columns

In [10]:
social.columns

Index(['respid', 'sex', 'eminuse', 'intmob', 'intfreq', 'home4nw', 'bbhome1',
       'bbhome2', 'device1a', 'smart2', 'snsint2', 'device1b', 'device1c',
       'device1d', 'web1a', 'web1b', 'web1c', 'web1d', 'web1e', 'web1f',
       'web1g', 'web1h', 'sns2a', 'sns2b', 'sns2c', 'sns2d', 'sns2e', 'pial5a',
       'pial5b', 'pial5c', 'pial5d', 'pial11', 'pial11a', 'pial11ao@',
       'pial11_igbm', 'pial12', 'books1', 'books2a', 'books2b', 'books2c',
       'age', 'marital', 'educ2', 'emplnw', 'hisp', 'racem1', 'racem2',
       'racem3', 'racem4', 'racecmb', 'birth_hisp', 'inc', 'party', 'partyln'],
      dtype='object')

## .shape

In [7]:
social.shape

(2003, 54)

## .info()

In [11]:
social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003 entries, 0 to 2002
Data columns (total 54 columns):
respid         2003 non-null int64
sex            2003 non-null int64
eminuse        2003 non-null int64
intmob         2003 non-null int64
intfreq        2003 non-null object
home4nw        2003 non-null object
bbhome1        2003 non-null object
bbhome2        2003 non-null object
device1a       2003 non-null object
smart2         2003 non-null object
snsint2        2003 non-null int64
device1b       2003 non-null int64
device1c       2003 non-null int64
device1d       2003 non-null int64
web1a          2003 non-null object
web1b          2003 non-null object
web1c          2003 non-null object
web1d          2003 non-null object
web1e          2003 non-null object
web1f          2003 non-null object
web1g          2003 non-null object
web1h          2003 non-null object
sns2a          2003 non-null object
sns2b          2003 non-null object
sns2c          2003 non-null object
sns2d          2003 non-null object
sns2e          2003 non-null object
pial5a         2003 non-null int64
pial5b         2003 non-null object
pial5c         2003 non-null object
pial5d         2003 non-null object
pial11         2003 non-null int64
pial11a        2003 non-null object
pial11ao@      2003 non-null object
pial11_igbm    2003 non-null int64
pial12         2003 non-null object
books1         2003 non-null int64
books2a        2003 non-null object
books2b        2003 non-null object
books2c        2003 non-null object
age            2003 non-null int64
marital        2003 non-null int64
educ2          2003 non-null int64
emplnw         2003 non-null int64
hisp           2003 non-null int64
racem1         2003 non-null int64
racem2         2003 non-null object
racem3         2003 non-null object
racem4         2003 non-null object
racecmb        2003 non-null int64
birth_hisp     2003 non-null object
inc            2003 non-null int64
party          2003 non-null int64
partyln        2003 non-null object
dtypes: int64(21), object(33)
memory usage: 845.1+ KB