# Dealing with Missing or Duplicate Data

# Outline
- Replacing NAs
- Dropping NAs
- Deleting duplicate rows

In [48]:
import pandas as pd

In [49]:
social = pd.read_csv('social.csv')

In [50]:
import numpy as np

In [51]:
social['intfreq'] = pd.to_numeric(social['intfreq'], errors = 'coerce')

In [52]:
social['intfreq'] = social['intfreq'].replace([8,9], np.nan)

## Replacing NAs

In [57]:
social.shape

(2003, 54)

In [55]:
social['intfreq']

0       1.0
1       NaN
2       3.0
3       4.0
4       4.0
       ...
1998    2.0
1999    1.0
2000    4.0
2001    2.0
2002    1.0
Name: intfreq, Length: 2003, dtype: float64

In [54]:
social['intfreq'].fillna(0)

0       1.0
1       0.0
2       3.0
3       4.0
4       4.0
       ...
1998    2.0
1999    1.0
2000    4.0
2001    2.0
2002    1.0
Name: intfreq, Length: 2003, dtype: float64

## Dropping NAs

In [39]:
social['intfreq'].dropna()

0       1.0
2       3.0
3       4.0
4       4.0
5       2.0
       ...
1998    2.0
1999    1.0
2000    4.0
2001    2.0
2002    1.0
Name: intfreq, Length: 1782, dtype: float64

## Deleting duplicate rows

In [59]:
social = social.drop_duplicates()

In [60]:
social.shape

(2002, 54)