In [151]:
import pandas as pd
import numpy as np

In [201]:
df = pd.read_csv('./January 3-10, 2018 - Core Trends Survey - CSV.csv')


df = df.replace(' ', np.nan)

df.head()

,respid,sample,comp,int_date,lang,cregion,state,density,usr,qs1,...,inc,party,partyln,hh1,hh3,ql1,ql1a,qc1,weight,cellweight
0,1,1,1,180103,1,1,42,5,U,NaN,...,6,2,NaN,5,4,1,NaN,NaN,1.746359,NaN
1,2,1,1,180103,1,3,45,2,S,NaN,...,4,3,8,2,2,2,2,NaN,1.659764,NaN
2,3,1,1,180103,1,1,34,5,S,NaN,...,4,1,NaN,1,NaN,1,NaN,NaN,0.490804,NaN
3,4,1,1,180103,1,3,24,4,S,NaN,...,2,2,NaN,2,2,1,NaN,NaN,0.947965,NaN
4,5,1,1,180103,1,1,33,2,R,NaN,...,7,1,NaN,3,3,1,NaN,NaN,0.915959,NaN

In [224]:
df.shape

(2002, 70)

In [327]:
intfreq = list(df['intfreq'].astype(float).dropna().values)
respid = list(df['respid'].astype(int).dropna().values)
sex =  list(df['sex'].astype(int).dropna().values)
age = list(df['age'].astype(int).dropna().values)

In [309]:
intfreq_array = np.array(intfreq)

In [310]:
intfreq_array.shape

(1785,)

# Outline
- Social media usage data
- NumPy functions
- Seeing available functions

In [320]:
social_list = [respid, sex, age, intfreq_array]

In [321]:
social = np.array(social_list)

In [322]:
type(social)

numpy.ndarray

In [314]:
np.mean(social[3])

2.15406162464986

In [319]:
np.median(social[3])

2.0

In [317]:
min(age)

18

In [318]:
max(age)

99

In [ ]:
np.corrcoef(social[3], social[2])